.card {
  border: none !important;
  box-shadow: none !important;
}

.og-price {
  color: rgb(205, 36, 36);
  font-size: 20px;
  font-weight: bold;
  text-decoration: line-through;
  font-family: "PlayFair";
}

.offer-price {
  color: green;
  font-size: 20px;
  font-weight: bold;
  font-family: "PlayFair";
}

.buy-btn {
  background-color: rosybrown;
  padding: 12px;
  border-radius: 10px;
  color: white;
  border: 0;
  font-weight: bold;
  transition: 0.2s;
}

.buy-btn:hover {
  background-color: rgb(209, 61, 122);
}

.card-img {
  height: 250px;
}

.tag {
  background-color: rgb(228, 155, 28);
  padding: 5px;
  border-radius: 8px;
  color: white;
  margin-left: 5px;
  font-size: medium;
}


